section .bg{ 
    background-color:rgba(0, 0, 0, 0.3);
    width: 100%; 
    height: 845px; 
    position: absolute;
}
section .about_section1{
    width: 100%;
    height: 845px;
    background-image: url(../img/mission.jpg);
    background-size: cover;
    background-position-y: 20%;
    background-repeat: no-repeat;
}
section .about_section1 .mission_box{
    height: 400px;
    position: absolute;
    left: 72%;
    top: 50%;
    transform: translate(-50%,-35%);
}
section .about_section1 .mission_box p{
    color: rgb(241, 241, 241);
    font-size: 1.3rem;
    margin-bottom: 20px;
    letter-spacing: 1.2px;
    animation: misani1 3.7s;
}
section .about_section1 .mission_box p.thanks{
    margin-bottom: 80px;
    font-size: 1.55rem;
    margin-left: -6px;
}
section .about_section1 .mission_box span{
    color: #253b59;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Baskervville', serif;
    animation: misani1 3.7s;
    margin-right: 5px;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .about_section2{
    width: 100%;
    height: 100%;
    animation: misani1 3.7s;
}
section .about_section2 .main{
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
section .about_section2 .line{
    width: 45px;
    height: 4px;
    background-color: #253b59;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .about_section2 .main h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 80px;
    color: #444;
}
section .about_section2 .about_main1{
    width: 100%;
    height: 750px;
}
section .about_section2 .about_main1 h3{
    color: rgb(112, 112, 112);
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
section .about_section2 .about_main1 h3 span{
    color: #253b59;
    font-weight: 700;
    font-size: 1.6rem;
}
section .about_section2 .about_main1 ul{
    float: right;
    margin-right: 145px;
    margin-top: 30px;
}
section .about_section2 .about_main1 ul li{
    list-style-type: none;
    color: #253b59;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 600;
}
section .about_section2 .about_bg1{
    position: absolute;
    top: 1000px;
    right: 50%;
    margin-right: 240px;
    width: 300px;
    height: 300px;
    background: #f6f6f6;
    border-radius: 100%;
}
section .about_section2 .about_bg2{
    position: absolute;
    top: 1180px;
    left: 50%;
    margin-left: 120px;
    width: 400px;
    height: 400px;
    background: #f6f6f6;
    border-radius: 100%;
}
section .about_section2 .about_bg3{
    position: absolute;
    top: 1350px;
    right: 50%;
    margin-right: 120px;
    width: 200px;
    height: 200px;
    background: #f0f0f0;
    border-radius: 100%;
}
section .about_section2 .about_main2{
    width: 100%;
    height: 870px;
}
section .about_section2 .about_main2 h2{
    margin-bottom: 60px;
}
section .about_section2 .about_main2 .role{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main2 .role img{
    width: 100%;
}
section .about_section2 .about_main3{
    width: 100%;
    height: 900px;
}
section .about_section2 .about_main3 h2{
    margin-bottom: 60px;
}
section .about_section2 .about_main3 .role2{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main3 .role2 img{
    width: 95%;
    margin-left: 20px;
}
section .about_section2 .about_main4{
    width: 100%;
    height: 800px;
}
section .about_section2 .about_main4 .map{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main4 .map img{
    width: 100%;
    height: 350px;
}
section .about_section2 .about_main4 .map .adress{
    width: 100%;
    margin-top: 20px;
    animation: misani1 3.7s;
}
section .about_section2 .about_main4 .map .adress .ad{
    float: left;
}
section .about_section2 .about_main4 .map .adress .ad.adress1{
    width: 35%;
    margin-right: 100px;
}
section .about_section2 .about_main4 .map .adress .ad.adress2{
    width: 35%;
}
section .about_section2 .about_main4 .map .adress .ad.adress3{
    width: 20%;
}
section .about_section2 .about_main4 .map .adress h3{
    color: #253b59;
    font-size: 0.95rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
section .about_section2 .about_main4 .map .adress p{
    font-size: 0.9rem;
    color: #444;
}