section .bg{ 
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%; 
    height: 845px; 
    position: absolute;
}
section .about_section1{
    width: 100%;
    height: 845px;
    background-image: url(../img/mission1.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
section .about_section1 .mission_box{
    height: 400px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-45%);
}
section .about_section1 .mission_box p{
    color: rgba(255,255,255,0.9);
    font-size: 1.25rem;
    animation: misani1 3.7s;
    text-shadow: 6px 6px 13px rgba(0,0,0,0.9);
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
}
section .about_section1 .mission_box p.thanks{
    margin-bottom: 100px;
    font-size: 5.4rem;
    font-family: 'Raleway', sans-serif;
    color: rgba(255,255,255,0.7);
    font-weight: 700;
}
section .about_section1 .mission_box span{
    color: #253b59;
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 20px;
    animation: misani1 3.7s;
    margin-right: 5px;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .about_section2{
    width: 100%;
    height: 100%;
}
section .about_section2 .main{
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
section .about_section2 .line{
    width: 45px;
    height: 4px;
    background-color: #BB5555;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .about_section2 .main h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 80px;
}
section .about_section2 .about_main1{
    width: 100%;
    height: 650px;
    margin: 0 auto;
}
section .about_section2 .about_main1 h3{
    color: #333;
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: 80px;
    text-align: center;
}
section .about_section2 .about_main1 h3 span{
    color: #BB5555;
    font-weight: 700;
    font-size: 1.6rem;
}
section .about_section2 .about_main1 .main1_circle{
    width: 100%;
    margin: 0 auto;
}
section .about_section2 .about_main1 .main1_circle ul{
    width: 210px;
    height: 210px;
    text-align: center;
    float: left;
    background-color: #f6f6f6;
    border-radius: 100%;
    margin-right: 30px;
}
section .about_section2 .about_main1 .main1_circle ul.last_circle{
    margin-right: 0;
}
section .about_section2 .about_main1 .main1_circle ul li.num{
    width: 100%;
    height: 70px;
    list-style-type: none;
    color: #BB5555;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 900;
    line-height: 140px;
}
section .about_section2 .about_main1 .main1_circle ul li.detail{
    width: 100%;
    height: 70px;
    list-style-type: none;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 70px;
    font-size: 1.05rem;
}
section .about_section2 .about_main2{
    width: 100%;
    height: 920px;
}
section .about_section2 .about_main2 h2{
    margin-bottom: 60px;
}
section .about_section2 .about_main2 .role{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main2 .role img{
    width: 95%;
}
section .about_section2 .about_main3{
    width: 100%;
    height: 880px;
}
section .about_section2 .about_main3 h2{
    margin-bottom: 40px;
}
section .about_section2 .about_main3 .role2{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main3 .role2 img{
    width: 95%;
}
section .about_section2 .about_main4{
    width: 100%;
    height: 620px;
}
section .about_section2 .about_main4 h3{
    color: #333;
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: 90px;
    text-align: center;
    line-height: 70px;
}
section .about_section2 .about_main4 h3 span{
    color: #BB5555;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 90px;
    text-align: center;
}
section .about_section2 .about_main4 h2{
    margin-bottom: 60px;
}
section .about_section2 .about_main4 .consul_contact{
    width: 100%;
    height: 400px;
    display: inline-block;
}
section .about_section2 .about_main4 .consul_contact ul{
    width: 100%;
    text-align: center;
}
section .about_section2 .about_main4 .consul_contact ul li{
    width: 10%;
    height: 90px;
    list-style-type: none;
    color: #f0f0f0;
    line-height: 90px;
    background-color: #334863;
    float: left;
    font-weight: 600;
    border-radius: 4px;
}
section .about_section2 .about_main4 .consul_contact ul img{
    width: 30px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}
section .about_section2 .about_main4 .consul_contact li.br_contact{
    line-height: 27px;
    padding-top: 17px;
}
section .about_section2 .about_main4 .consul_contact ul.last_contact{
    margin-right: 0;
}
section .about_section2 .about_main5{
    width: 100%;
    height: 850px;
}
section .about_section2 .about_main5 .map{
    width: 100%;
    height: 400px;
}
section .about_section2 .about_main5 .adress{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
section .about_section2 .about_main5 .adress .ad{
    float: left;
}
section .about_section2 .about_main5 .adress .ad.adress1{
    width: 40%;
}
section .about_section2 .about_main5 .adress .ad.adress2{
    width: 30%;
}
section .about_section2 .about_main5 .adress .ad.adress3{
    width: 30%;
}
section .about_section2 .about_main5 .adress h3{
    color: #BB5555;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
section .about_section2 .about_main5 .adress p{
    font-size: 1.1rem;
    color: #333;
}