#about_ani1 ul{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#about_ani2 div.role img{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#about_ani3 div.role2 img{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#about_ani4 div.all_map{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#intro_ani div.process{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#etc3_ani div.intro_box{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.etc_part5 div.etc_consul{
    opacity: 0;
    transform: translateX(-50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.consul_contact ul li{
    opacity: 0;
    transform: translateX(-50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes up_fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
#about_ani1 ul.circle1{
    animation-delay: 0s;
}
#about_ani1 ul.circle2{
    animation-delay: 0.1s;
}
#about_ani1 ul.circle3{
    animation-delay: 0.2s;
}
#about_ani1 ul.circle4{
    animation-delay: 0.3s;
}
#about_ani1 ul.last_circle{
    animation-delay: 0.4s;
}

#about_ani2 div.role img{
    animation-delay: 0s;
}

#about_ani3 div.role2 img{
    animation-delay: 0s;
}

#about_ani4 div.all_map{
    animation-delay: 0s;
}

#intro_ani div.pro1{
    animation-delay: 0s;
}
#intro_ani div.pro2{
    animation-delay: 0.1s;
}
#intro_ani div.pro3{
    animation-delay: 0.2s;
}
#intro_ani div.pro4{
    animation-delay: 0.3s;
}
#intro_ani div.pro5{
    animation-delay: 0.4s;
}

#etc3_ani div.intro_box.first{
    animation-delay: 0s;
}
#etc3_ani div.intro_box.second{
    animation-delay: 0.1s;
}

.etc_part5 div.last1{
    animation-delay: 0s;
}
.etc_part5 div.last2{
    animation-delay: 0.2s;
}
.etc_part5 div.last3{
    animation-delay: 0.4s;
}
.etc_part5 div.last4{
    animation-delay: 0.6s;
}
.etc_part5 div.last5{
    animation-delay: 0.8s;
}

.consul_contact ul li.con_con1{
    animation-delay: 0s;
}
.consul_contact ul li.con_con2{
    animation-delay: 0.1s;
}
.consul_contact ul li.con_con3{
    animation-delay: 0.2s;
}
.consul_contact ul li.con_con4{
    animation-delay: 0.3s;
}
.consul_contact ul li.con_con5{
    animation-delay: 0.4s;
}
.consul_contact ul li.con_con6{
    animation-delay: 0.5s;
}
.consul_contact ul li.con_con7{
    animation-delay: 0.6s;
}