#intro_ani div.process{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#intro_ani1 div.hr_area{
    opacity: 0;
    transform: translateX(-50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#ser_intro2 div.intro_box{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes up_fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
#intro_ani div.pro1{
    animation-delay: 0s;
}
#intro_ani div.pro2{
    animation-delay: 0.1s;
}
#intro_ani div.pro3{
    animation-delay: 0.2s;
}
#intro_ani div.pro4{
    animation-delay: 0.3s;
}
#intro_ani div.pro5{
    animation-delay: 0.4s;
}
#intro_ani1 div.last1{
    animation-delay: 0s;
}
#intro_ani1 div.last2{
    animation-delay: 0.2s;
}
#intro_ani1 div.last3{
    animation-delay: 0.4s;
}
#intro_ani1 div.last4{
    animation-delay: 0.6s;
}
#intro_ani1 div.last5{
    animation-delay: 0.8s;
}
#intro_ani1 div.last6{
    animation-delay: 1s;
}
#intro_ani1 div.last7{
    animation-delay: 1.2s;
}
#intro_ani1 div.last8{
    animation-delay: 1.4s;
}
#intro_ani1 div.last9{
    animation-delay: 1.6s;
}
#intro_ani1 div.last10{
    animation-delay: 1.8s;
}
#ser_intro2 div.intro_box.first{
    animation-delay: 0s;
}
#ser_intro2 div.intro_box.second{
    animation-delay: 0.1s;
}