#intro_ani div.process{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#intro_ani1 div.hr_area{
    opacity: 0;
    transform: translateY(50px);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes up_fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#intro_ani div.pro1{
    animation-delay: 0s;
}
#intro_ani div.pro2{
    animation-delay: 0.1s;
}
#intro_ani div.pro3{
    animation-delay: 0.2s;
}
#intro_ani div.pro4{
    animation-delay: 0.3s;
}
#intro_ani div.pro5{
    animation-delay: 0.4s;
}
#intro_ani1 div:nth-child(1){
    animation-delay: 0s;
}
#intro_ani1 div:nth-child(2){
    animation-delay: 0.1s;
}
#intro_ani1 div:nth-child(3){
    animation-delay: 0.2s;
}
#intro_ani1 div:nth-child(4){
    animation-delay: 0.3s;
}
#intro_ani1 div:nth-child(5){
    animation-delay: 0.4s;
}
#intro_ani1 div:nth-child(6){
    animation-delay: 0.5s;
}
#intro_ani1 div:nth-child(7){
    animation-delay: 0.6s;
}
#intro_ani1 div:nth-child(8){
    animation-delay: 0.7s;
}
#intro_ani1 div:nth-child(9){
    animation-delay: 0.8s;
}
#intro_ani1 div:nth-child(10){
    animation-delay: 0.9s;
}
