*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.8px;
}
html, body{
    height: 100%;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 80px;
    /* background-color: lightblue; */
    border-bottom: 0.5px solid rgb(221, 221, 221);
}
header .nav_bar{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    color: rgb(241, 241, 241);
}
header .nav_bar h1{
    width: 16.6%;
    height: 100%;
    float: left;
    vertical-align: middle;
}
header .nav_bar h1 img{
    width: 85%;
}
header .nav_bar ul{
    float: right;
    width: 83.4%;
    height: 70px;
    list-style: none;
}
header .nav_bar ul li{
    display: inline-block;
    margin-left: 20px;
    line-height: 80px;
    cursor: pointer;
    font-size: 1.03rem;
}
header .nav_bar ul li a{
    color: #253b59;
    text-decoration: none;
    transition: .3s ease;
}
header .nav_bar ul li a:hover{
    font-weight: 700;
}