*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.8px;
}
html, body{
    height: 100%;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
div.head{
    width: 100%;
    position: fixed;
    z-index: 999;
}
header{
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 0.5px solid rgb(221, 221, 221);
}
header .nav_bar{
    width: 100%;
    height: 70px;
    color: rgb(241, 241, 241);
}
header .nav_bar h1{
    width: 16.6%;
    height: 100%;
    float: left;
}
header .nav_bar h1 img{
    width: 80%;
}
header .nav_bar ul{
    float: right;
    width: 83%;
    height: 70px;
    list-style: none;
}
header .nav_bar ul li{
    width: 16%;
    line-height: 70px;
    cursor: pointer;
    font-size: 0.875rem;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    white-space: now-wrap;
    text-align: center;
}
header .nav_bar ul li a{
    color: #444;
    text-decoration: none;
    transition: .3s ease;
}
header .nav_bar ul li a:hover{
    font-weight: 700;
    color: #BB5555;
}
nav{
    width: 100%;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}
nav .main_nav{
    width: 15%;
    height: 100%;
    float: left;
}
nav .main_nav ul li{
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#444;
    text-decoration: none;
    font-size: 0.815rem;
    transition: .2s ease;
    letter-spacing: -0.2px;
    cursor: pointer;
}
nav .main_nav ul li a{
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#444;
    text-decoration: none;
    font-size: 0.815rem;
    transition: .2s ease;
    letter-spacing: -0.2px;
    cursor: pointer;
}
nav .main_nav ul li a:hover{
    color:#BB5555;
}
nav .main_nav ul li:hover{
    color:#BB5555;
}
nav .incu_nav{
    margin-left: 400px;
    margin-right: -14px;
}
nav .hr_nav{
    margin-left: -28px;
    margin-right: 10px;
}
footer{
    width: 100%;
    height: 180px;
    background-color: #303030;
    overflow: hidden;
    color: white;
    text-align: center;
}
footer h1 img{
    width: 10%;
    margin-top: 5px;
}
footer ul.footnav li{
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 20px;
}
footer ul.footnav li a{
    color:rgb(145, 145, 145);
    text-decoration: none;
    font-size: 0.815rem;
    transition: .2s ease;
    letter-spacing: -0.2px;
}
footer ul.footnav li a:hover{
    color:#BB5555;
}
footer ul.foot_detail li{
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 0.815rem;
    color:rgb(145, 145, 145);
}
footer p{
    color:rgb(145, 145, 145);
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 10px;
}
.fix_btn{
    width: 45px;
    height: 45px;
    background-color: #334863;
    position: fixed;
    right: 5%;
    bottom: 5%;
    color: #f0f0f0;
    line-height: 45px;
    text-align: center;
    font-size: 0.95rem;
    border-radius: 10px;
    cursor: pointer;
}