section .consul_section2{
    width: 100%;
    height: 100%;
    animation: misani1 3.7s;
}
section .consul_section2 .consul_main1{
    width: 100%;
    height: 660px;
}
section .consul_section2 .intro{
    padding-top: 100px;
}
section .consul_section2 .intro .line{
    width: 45px;
    height: 4px;
    background-color: #6ca9c5;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .consul_section2 h2{
    width: 100%;
    font-weight: 600;
    color: #2d3d47;
    font-size: 2rem;
    text-align: center;
}
section .consul_section2 h3{
    color: #333;
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: 40px;
}
section .consul_section2 h3 span{
    color: #6ca9c5;
    font-weight: 700;
    font-size: 1.6rem;
}
section .consul_section2 p{
    color: #333;
    line-height: 28px;
    font-size: 0.95rem;
}
section .consul_section2 .consul_main1 .consul_part1{
    float: left;
    width: 68%;
    margin-top: 80px;
    animation: misani1 3.7s;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main1 .consul_img1{
    float: right;
    width: 30%;
    padding-top: 90px;
    animation: misani1 3.7s;
    position: relative;
    z-index: 1;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .consul_section2 .consul_main1 .consul_img1 img{
    width: 82.5%;
    height: 290px;
}
section .consul_main1 .consul_bg1{
    position: absolute;
    top: 710px;
    right: 50%;
    margin-right: -380px;
    width: 100%;
    height: 290px;
    background: #f6f6f6;
}
section .consul_section2 .consul_main2{
    width: 100%;
    height: 660px;
}
section .consul_section2 .consul_main2 .consul_part2{
    float: right;
    width: 68%;
    margin-top: 80px;
    animation: misani1 3.7s;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main2 .consul_img2{
    float: left;
    width: 31%;
    padding-top: 85px;
    animation: misani1 3.7s;
    padding-right: 20px;
}
section .consul_section2 .consul_main2 .consul_img2 img{
    width: 100%;
    height: 335px;
}
section .consul_section2 .consul_main2 .consul_bg2{
    position: absolute;
    top: 1220px;
    left: 50%;
    margin-left: 230px;
    width: 300px;
    height: 300px;
    background: #f6f6f6;
    border-radius: 100%;
}
section .consul_section2 .consul_main3{
    width: 100%;
    height: 900px;
}
section .consul_section2 .consul_main3 .consul_part3{
    width: 100%;    
    height: 400px;
    margin-top: 70px;
    animation: misani1 3.7s;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main3 .consul_bg3{
    position: absolute;
    top: 2040px;
    right: 50%;
    margin-right: -300px;
    width: 100%;
    height: 270px;    
    background: #f6f6f6;
}
section .consul_section2 .consul_main3 .consul_part3{
    width: 100%;
    height: 500px;    
}
section .consul_section2 .consul_main3 .consul_part3 img{
    width: 95%   
}
section .consul_section2 .consul_main4{
    width: 100%;
    height: 1000px;
}
section .consul_section2 .consul_main4 .consul_part4{
    width: 100%;
    height: 800px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main4 .consul_part4 .arrow{
    width: 70px;
    vertical-align: middle;
    display: inline-block;
}
section .consul_section2 .consul_main4 .consul_part4 img{
    width: 60%;
    height: 60%;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_part{
    width: 100%;
    height: 400px;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_part.first{
    margin-left: 220px;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_title{
    width: 28%;
    height: 300px;
    text-align: center;
    float: left;
    line-height: 70px;
    background-color: #f6f6f6;
    margin-right: 77px;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_part ul li{
    list-style-type: none;
    line-height: 25px;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_title2{
    width: 28%;
    height: 300px;
    text-align: center;
    float: left;
    line-height: 70px;
    background-color: #f6f6f6;
    margin-right: 77px;
}
section .consul_section2 .consul_main4 .consul_part4 .graph_title2.last{
    margin-right: 0;
}
section .consul_section2 .consul_main5{
    width: 100%;
    height: 660px;
}
section .consul_section2 .consul_main5 .consul_part5{
    float: right;
    width: 68%;
    margin-top: 80px;
    animation: misani1 3.7s;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main5 .consul_part5 h3{
    width: 90%;
}
section .consul_section2 .consul_main5 .consul_part5 p{
    width: 90%;
    word-break: keep-all;
}
section .consul_section2 .consul_main5 .consul_img5{
    float: left;
    width: 31%;
    padding-top: 85px;
    animation: misani1 3.7s;
    padding-right: 20px;
}
section .consul_section2 .consul_main5 .consul_img5 img{
    width: 100%;
    height: 330px;
}
section .consul_section2 .consul_main5 .consul_bg5{
    position: absolute;
    top: 3940px;
    left: 50%;
    margin-left: 230px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #f6f6f6;
}
section .consul_section2 .consul_main5 .consul_bg51{
    position: absolute;
    top: 3850px;
    left: 50%;
    margin-left: 10px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #f6f6f6;
}
section .consul_section2 .consul_main6{
    width: 100%;
    height: 900px;
}
section .consul_section2 .consul_main6 .consul_img6{
    width: 100%;    
    height: 600px;
    margin-top: 80px;
}
section .consul_section2 .consul_main6 .consul_img6 img{
    width: 95%;
}
section .consul_section2 .consul_main7{
    width: 100%;
    height: 1150px;
}
section .consul_section2 .consul_main7 .consul_part7{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
}
section .consul_section2 .consul_main7 .consul_img7{
    width: 100%;
    height: 800px;
}
section .consul_section2 .consul_main7 .consul_img7 img{
    width: 100%;
}
section .consul_section2 .consul_main7 .consul_bg7{
    position: absolute;
    top: 900px;
    left: 50%;
    margin-left: -180px;
    width: 100%;
    height: 270px;
    background: #f6f6f6;
}