section .bg{
    width:100%; 
    height: 300px; 
    /* position: absolute; */
}
section .consul_section1{
    width: 100%;
    height: 300px;
    background-image: url(../img/consulting_pic.jpg);
    background-size: cover;
    /* background-position-y: 80%; */
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    top:70px;
    margin-bottom: 70px;
}
section .consul_section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    /* z-index:900; */
    line-height: 300px;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
}
section .consul_section1 h3{
    display: inline;
    margin-right: 15px;
}
section .consul_section1 h3 a{
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
section .consul_section1 h3.this_pg{
    display: inline;
    margin-right: 15px;
    position: relative; 
    color: rgb(146, 106, 21);
    font-size: 1.1rem;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .consul_section1 h3 a:hover{
    color: rgb(146, 106, 21);
}
section .consul_section2 .intro p{
    word-break: keep-all;
    line-height: 30px;
    letter-spacing: 1px;
}