section .section1{
    width: 100%;
    height: 300px;
    background-image: url(../img/contact_pic.jpg);
    background-size: cover;
    background-position-y: 55%;
    background-repeat: no-repeat;
    position: relative;
    top:70px;
    margin-bottom: 70px;
}
section .section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    line-height: 300px;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .section2{
    width: 100%;
    height: 100%;
    color: #2d3d47;
}
section .contact_section2 .intro{
    padding-top: 100px;
}
section .contact_section2 .intro .line{
    width: 45px;
    height: 4px;
    background-color: #6ca9c5;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .contact_section2 h2{
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 80px;
}
section .contact_section2 .consul_contact{
    width: 100%;
    height: 580px;
    text-align: center;
}
section .contact_section2 .consul_contact h3{
    font-weight: 100;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
section .contact_section2 .consul_contact p{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 80px;
}
section .contact_section2 .consul_contact p span{
    color: #6ca9c5;
    font-weight: 600;
    font-size: 1.5rem;
}
section .contact_section2 .consul_contact ul{
    width: 100%;
}
section .contact_section2 .consul_contact ul li{
    width: 23%;
    height: 100px;
    list-style-type: none;
    color: #f0f0f0;
    border: 5px solid rgb(243, 243, 243);
    background-color: rgba(250, 250, 250, 0.8);
    float: left;
    margin-right: 28px;
    margin-bottom: 28px;
    border-radius: 5px;
}
section .contact_section2 .consul_contact ul li.last{
    margin-right: 0;
}
section .contact_section2 .consul_contact ul li h2{
    width: 100%;
    height: 15px;
    color: #F7926F;
    text-align: left;
    font-size: 0.95rem;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
}
section .contact_section2 .consul_contact ul li h3{
    width: 100%;
    color: #2d3d47;
    font-size: 1.2rem;
    font-weight: bold;
}