*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #222;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
section .bg{ 
    width:100%; 
    height: 300px; 
}
img{width: 100%;}
a{text-decoration: none; color: #222;}
section .intro{
    padding-top: 100px;
}
section .section1{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position-y: 45%;
    background-repeat: no-repeat;
    position: relative;
    top:70px;
    margin-bottom: 70px;
    text-align: center;
}
section .section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    z-index: 100;
    line-height: 300px;
    animation: misani1 1.5s;
    letter-spacing: 1.5px;
    font-weight: bold;
}
section .section1 h3{
    display: inline-block;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    animation: misani1 1.5s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
    z-index: 100;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}
section .section1 h3:hover{
    color: #63ACFF;
}
section .section2{
    width: 100%;
    height: 100%;
}
section .section2 .line{
    width: 45px;
    height: 4px;
    background-color: #3570b4;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 3px;
}
section .section2 h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
}
section .section2 h3{
    font-weight: 100;
    font-size: 1.6rem;
    word-break: keep-all;
}
section .section2 h3 span{
    color: #3570b4;
    font-weight: 700;
    font-size: 1.6rem;
}
section .section2 h3 span.br_span{
    color: #222;
    font-weight: 100;
    font-size: 1.6rem;
    word-break: keep-all;
    display: block;
}
section .section2 p{
    word-break: keep-all;
    font-size: 0.95rem;
    line-height: 28px;
}