section .bg{ 
    width:100%; 
    height: 300px; 
}
section .incu_section1{
    width: 100%;
    height: 300px;
    background-image: url(../img/incu_pic.jpg);
    background-size: cover;
    background-position-y: 45%;
    background-repeat: no-repeat;
    position: relative;
    top:70px;
    margin-bottom: 70px;
}
section .incu_section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    line-height: 300px;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
}
section .incu_section1 h3{
    display: inline;
    margin-right: 15px;
}
section .incu_section1 h3.this_pg{
    display: inline;
    margin-right: 15px;
    position: relative; 
    color: rgb(146, 106, 21);
    font-size: 1.1rem;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
section .incu_section1 h3 a{
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .incu_section1 h3 a:hover{
    color: rgb(146, 106, 21);
}
section .incu_section2{
    width: 100%;
    height: 100%;
    animation: misani1 3.7s;
}
section .incu_section2 h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 80px;
    color: #444;
}
section .incu_section2 main{
    padding-top: 100px;
}
section .incu_section2 .line{
    width: 45px;
    height: 4px;
    background-color: #253b59;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .incu_section2 .incu_main1{
    width: 100%;
    height: 900px;
}
section .incu_section2 .incu_main1 .intro{
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
section .incu_section2 .incu_main1 .intro h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 80px;
    color: #444;
}
section .incu_section2 .incu_main1 .tool_explain{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
section .incu_section2 .incu_main1 .tool_explain img{
    width: 30px;
    vertical-align: middle;
}
section .incu_section2 .incu_main1 .tool_explain1{
    width: 19%;
    height: 50px;
    background-color: #655E66;
    color: #f0f0f0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
}
section .incu_section2 .incu_main1 .tool_explain2{
    width: 80%;
    height: 50px;
    text-align: center;
    display: inline-block;
}
section .incu_section2 .incu_main1 .tool_explain2 .step{
    width: 16%;
    height: 50px;
    background-color: #DCD8D7;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
}
section .incu_section2 .incu_main1 .tool_explain2 .step.color{
    background-color: #D9CBBF;
}
/* section .incu_section2 .incu_main1 .tool_box{
    width: 100%;
    height: 400px;
}
section .incu_section2 .incu_main1 .tool_box img{
    width: 100%;
} */
section .incu_section2 .incu_main1 .tool_box{
    width: 19%;    
    height: 300px;
    border: 1px solid rgb(202, 202, 202);
    display: inline-block;
    overflow: hidden;
}
section .incu_section2 .incu_main1 .tool_box1{
    width: 100%;
    height: 150px;
}
section .incu_section2 .incu_main1 .tool_box1.fir{
    border-bottom: 1px solid rgb(202, 202, 202);
}
section .incu_section2 .incu_main1 .tool_box2{
    width: 48%;
    height: 100px;
    display: inline-block;
    border: 1px solid rgb(202, 202, 202);
}
section .incu_section2 .incu_main1 .incu_bg1{
    position: absolute;
    top: 587px;
    left: 50%;
    margin-left: -640px;
    width: 48%;
    height: 10%;
}
section .incu_section2 .incu_main1 .incu_bg1 img{
    width: 100%;
}
section .incu_section2 .incu_main1 .incu_bg2{
    position: absolute;
    top: 595px;
    right: 50%;
    margin-right: -590px;
    width: 48%;
    height: 10%;
}
section .incu_section2 .incu_main1 .incu_bg2 img{
    width: 100%;
}
section .incu_section2 .incu_main2{
    width: 100%;
    height: 850px;
}
section .incu_section2 .incu_main2 .intro2{
    width: 100%;
    height: 600px;
    margin-top: 80px;
    background-color: lightsteelblue;
}
section .incu_section2 .incu_main3{
    width: 100%;
    height: 100%;
}
section .incu_section2 .incu_main3 .intro{
    width: 100%;
    height: 600px;
    color: rgb(112, 112, 112);
    position: relative;
    z-index: 1;
}
section .incu_section2 .incu_main3 .incu_bg3{
    position: absolute;
    top: 2180px;
    right: 50%;
    margin-right: 300px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #f6f6f6;
}
section .incu_section2 .incu_main3 .incu_bg4{
    position: absolute;
    top: 2350px;
    left: 50%;
    margin-left: 240px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #f6f6f6;
}
section .incu_section2 .incu_main3 .intro h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #444;
}
section .incu_section2 .incu_main3 .intro h3{
    color: rgb(112, 112, 112);
    font-weight: 100;
    font-size: 1.4rem;
    margin-bottom: 40px;
    margin-top: 100px;
}
section .incu_section2 .incu_main3 .intro h3.intro_fir{
    margin-left: 50px;
}
section .incu_section2 .incu_main3 .intro h3.intro_sec{
    margin-top: 90px;
    margin-left: 600px;
}
section .incu_section2 .incu_main3 .intro h3 span{
    color: #253b59;
    font-weight: 700;
    font-size: 1.4rem;
}
section .incu_section2 .incu_main3 .intro2{
    width: 100%;
    height: 450px;
    text-align: center;
}
section .incu_section2 .incu_main3 .intro2 .intro_box{
    width: 19%;
    height: 320px;
    /* border-left: 1px solid rgb(202, 202, 202);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202); */
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
    box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
    vertical-align: middle;
    margin-right: 10px;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.last_box{
    margin-right: 0;
}
section .incu_section2 .incu_main3 .intro2 .intro_box1{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
section .incu_section2 .incu_main3 .intro2 .intro_box2 ul{
    width: 100%;
}
section .incu_section2 .incu_main3 .intro2 .intro_box2 ul li{
    list-style: none;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: rgb(99, 99, 99);
}
section .incu_section2 .incu_main3 .intro2 .intro_box.first_box .intro_box1{
    /* background-color: #6878A6; */
    background-color: #655E66;
    color: #f0f0f0;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.second_box .intro_box1{
    /* background-color: #8E9EBF; */
    background-color: #DCD8D7;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.third_box .intro_box1{
    /* background-color: #B0C1D9; */
    background-color: #AA9C91;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.last_box .intro_box1{
    /* background-color: #C1D0D9; */
    background-color: #D9CBBF;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.second_box ul{
    margin-top: 50px;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.third_box ul{
    margin-top: 70px;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.last_box ul{
    margin-top: 50px;
}
section .incu_section2 .incu_main3 .intro2 .intro_box2 ul li:nth-child(1){
    margin-top: 10px;
}
section .incu_section2 .incu_main3 .intro2 .intro_box.third_box ul li:nth-child(2){
    margin-bottom: -10px;
}
section .incu_section2 .incu_main3 .intro2 img{
    width: 40px;
    margin-right: 10px;
}