section .bg{ 
    background-color:rgba(0, 0, 0, 0.2);
    width:100%; 
    height: 300px; 
    position: absolute;
}
section .mento_section1{
    width: 100%;
    height: 300px;
    background-image: url(../img/mento2.jpg);
    background-size: cover;
    background-position-y: 80%;
    background-repeat: no-repeat;
}
section .mento_section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    z-index:1000;
    line-height: 300px;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
}
section .mento_section1 h3{
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    z-index:1000;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    margin-right: 15px;
    transition: 0.1s ease-in;
}
section .mento_section1 h3 a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    z-index:1000;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .mento_section1 h3:hover{
    color: #80786E;
}
section .mento_section1 h3 a:hover{
    color: #80786E;
}
section .mento_section2{
    width: 100%;
    height: 700px;
    /* background-color: thistle; */
    margin-bottom: 50px;
}
section .mento_section2 .intro{
    width: 800px;
    height: 250px;
    padding-top: 45px;
    margin: 0 auto;
    color: #444;
}
section .mento_section2 .intro p{
    text-align: center;
    word-break: keep-all;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
section .mento_section2 .mento_main{
    width: 100%;
    height: 100%;
    color: #444;
}
section .mento_section2 .mento_main img{
    width: 20%;
    margin-top: 45px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #303030;
    overflow: hidden;
}