@media (max-width: 1600px) {
    html,body{font-size: 14px;}
    div.main_section .wrap{max-width: 1200px;}
    div.main_section .nav_bar h1{width: 12%;}
    div.main_section .nav_bar ul{width: 40%;}
    div.main_section .nav_bar ul li{margin-left: 30px;}
    .fix_btn{width: 38px;height: 38px;line-height: 38px;}
    header .navul .nav_title{font-size: 1.15rem;}
    section .wrap{max-width: 1200px;}
    section .about_section1 .mission_box p.mission{padding-top: 330px;margin-bottom: 40px;}
    section .about_section1 .mission_box p.mission2{margin-bottom: 200px;}
    section .hr_section2 .hr_main1 .hr_part1 h3{font-size: 1.1rem;}
}

@media (max-width: 1200px) {
    html,body{font-size: 12px;}
    div.main_section .wrap{max-width: 1024px;}
    div.main_section .nav_bar ul{width: 43%;}
    div.main_section .center_box{height: 440px;}
    div.main_section .center_box .start_btn{height: 40px;line-height: 40px;}
    div.main_section .center_box .start_btn a{font-size: 14px;}
    header .wrap{max-width: 1024px;}
    header .nav_bar h1{max-width: 130px;min-width: 120px;}
    header .navul .nav_title{font-size: 1.25rem;}
    header .navul .main_nav ul li a{font-size: 1rem;}
    section .wrap{max-width: 1024px;}
    section .about_section1 .mission_box p.mission{padding-top: 340px;}
    section .about_section2 .about_main1{height: 600px;}
    section .about_section2 .about_main1 .main1_circle ul{width: 170px;height: 170px;}
    section .about_section2 .about_main1 .main1_circle ul li.num{margin-bottom: 10px;line-height: 120px;}
    section .about_section2 .about_main1 .main1_circle ul li.detail{line-height: 60px;font-size: 1.2rem;}
    section .about_section2 .about_main2{height: 850px;}
    section .about_section2 .about_main3{height: 840px;}
    section .section1{height: 210px;}
    section .section1 h2{height: 140px;line-height: 210px;}
    section .section1 h3{font-size: 1.2rem;}
    section .hr_section2 .hr_main1{height: 560px;}
    section .hr_section2 .hr_main1 .hr_part1 h3{font-size: 1.2rem;}
    section .hr_section2 .hr_main2{height: 760px;}
    section .hr_section2 .hr_main2 .hr_part2 h3{font-size: 1.7rem;margin-bottom: 90px;}
    section .hr_section2 .hr_main2 .hr_part2 h3 span{font-size: 1.7rem;}
    section .hr_section2 .hr_main3{height: 970px;}
    section .hr_section2 .hr_main3 .hr_part3 h3{font-size: 1.7rem;}
    section .hr_section2 .hr_main3 .hr_part3 h3 span{font-size: 1.7rem;}
    section .hr_section2 .hr_main4{height: 410px;}
    section .hr_section2 .hr_main4 .hr_part4 .process{width: 130px;height: 100px;}
    section .hr_section2 .hr_main4 .hr_part4 .arrow{margin: 0 15px;}
    section .hr_section2 .hr_main4 .hr_part4 .process h4{margin-top: 25px;font-size: 0.95rem;}
    section .bdesign_section2 .bdesign_main1{height: 960px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3{font-size: 1.7rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3 span{font-size: 1.7rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 p{font-size: 1.2rem;margin-bottom: 60px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro{height: 80px;padding: 33px 0;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro .pro_num{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro .pro_detail{font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main2{height: 830px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 h3{font-size: 1.7rem;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain1{width: 19%;margin-left: 3px;font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2 img{margin: 0 5px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2 .step{width: 14%;font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main3{height: 850px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3{font-size: 1.7rem;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3 span{font-size: 1.7rem;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box1{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box2 ul li{font-size: 1.2rem;}
    section .etc_section2 .etc_main1{height: 770px;}
    section .etc_section2 .etc_main1 .etc_part1 h3{font-size: 1.7rem;}
    section .etc_section2 .etc_main1 .etc_part1 h3 span{font-size: 1.7rem;}
    section .etc_section2 .etc_main1 .etc_part1 p{font-size: 1.2rem;}
    section .etc_section2 .etc_main2{height: 980px;}
    section .etc_section2 .etc_main2 .etc_part2 h3{font-size: 1.7rem;}
    section .etc_section2 .etc_main2 .etc_part2 h3 span{font-size: 1.7rem;}
    section .etc_section2 .etc_main2 .etc_part2 p{font-size: 1.2rem;}
    section .etc_section2 .etc_main3{height: 540px;}
    section .etc_section2 .etc_main3 .etc_part3 .intro_box1{font-size: 1.7rem;}
    section .etc_section2 .etc_main3 .etc_part3 .intro_box2{font-size: 1.2rem;}
    section .etc_section2 .etc_main4 .etc_part4 h3{font-size: 1.7rem;}
    section .etc_section2 .etc_main4 .etc_part4 h3 span{font-size: 1.7rem;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box{width: 20%;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box1{font-size: 1.4rem;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box2{font-size: 1.2rem;}
    section .etc_section2 .etc_main4 .etc_part41 img{margin: 0 5px;}
    section .etc_section2 .etc_main5{height: 450px;}
    section .etc_section2 .etc_main5 .etc_part5 .etc_consul{width: 17%;margin-right: 34px;}
    section .contact_section2 .consul_contact{height: 420px;}
    section .contact_section2 .consul_contact ul li{width: 22%;height: 90px;}
}

@media (max-width: 1024px) {
    div.main_section .wrap{max-width: 95%;}
    div.main_section .nav_bar h1{width: 13%;min-width: 120px;}
    div.main_section .nav_bar ul{width: 51%;}
    div.main_section .center_box .start_btn:hover{width: 120px;background-color: #BB5555;}
    header .wrap{max-width: 95%;}
    header .navul{display: none;}
    header div#nav-icon3{display: block;}
    header .mo_menu{display: block;}
    header .nav_box{height: 100vh;background-color: rgb(255, 255, 255);}
    footer h1 img{min-width: 90px;}
    section .wrap{max-width: 95%;}
    section .about_section2 .about_main1{height: 770px;}
    section .about_section2 .about_main1 .main1_circle{padding: 0 142px;}
    section .about_section2 .about_main1 .main1_circle ul{width: 165px;height: 165px;margin-bottom: 20px;}
    section .about_section2 .about_main1 .main1_circle ul li.num{line-height: 120px;}
    section .about_section2 .about_main1 .main1_circle ul li.detail{line-height: 40px;}
    section .about_section2 .about_main2{height: 830px;}
    section .about_section2 .about_main3{height: 770px;}
    section .about_section2 .about_main4{height: 840px;}
    section .about_section2 .about_main4 .adress img{min-width: 120px;}
    section .hr_section2 .hr_main1{height: 555px;}
    section .hr_section2 .hr_main2{height: 750px;}
    section .hr_section2 .hr_main3{height: 950px;}
    section .hr_section2 .hr_main4 .hr_part4 .arrow{display: none;}
    section .hr_section2 .hr_main4 .hr_part4 .process{margin: 0 15px;}    
    section .bdesign_section2 .bdesign_main1{height: 980px;}
    section .bdesign_section2 .bdesign_main3{height: 830px;}
    section .etc_section2 .etc_main2{height: 960px;}
    section .etc_section2 .etc_main5{height: 420px;}
    section .etc_section2 .etc_main5 .etc_part5 .etc_consul{width: 17%;margin-right: 28px;}
    section .contact_section2 .consul_contact{height: 420px;}
}
@media (max-width: 880px) {
    section .about_section2 .about_main1{height: 570px;}
    section .about_section2 .about_main1 .main1_circle{padding: 0;}
    section .about_section2 .about_main1 .main1_circle ul{width: 29%;height: 70px;display:inline-block;border-radius: 2px;margin-bottom: 10px;margin-left: 0;}
    section .about_section2 .about_main1 .main1_circle ul li.num{width: 20%;height: 70px; text-align: right; margin-bottom: 0;line-height: 70px;float: left;}
    section .about_section2 .about_main1 .main1_circle ul li.detail{width: 80%;height: 70px;line-height: 70px;float: right; text-align:center;font-size: 1.2rem;}
    section .about_section2 .about_main2{height: 760px;}
    section .about_section2 .about_main3{height: 700px;}
}
@media (max-width: 872px) {
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro{padding: 30px 0;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro .pro_detail{line-height: 17px;}
    section .etc_section2 .etc_main4 .etc_part41 img{display: none;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box{width: 24%;margin-right: 5px;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box.last_box{margin-right: 0;}
}

@media (max-width: 865px) {
    div.main_section .nav_bar ul{display: none;}
    div.main_section .nav_box{display: none;}
    div.main_section div#nav-icon3{display: block;width: 8%;}
    div.main_section .center_box p.mission1 span{display: block;margin-top: 5px;}
    div.main_section .center_box p.mission1{font-size: 1.2rem;}
    div.main_section .center_box p.mission2{font-size: 2.5rem;}
    div.main_section .center_box p.mission3,div.main_section .center_box p.mission4{font-size: 5.5rem;}    
    section .wrap{max-width: 93%;}
    section .about_section1 .mission_box p.mission3,section .about_section1 .mission_box p.mission4{font-size: 1.2rem;word-break: keep-all;}
    section .about_section2 .about_main2{height: 740px;}
    section .about_section2 .about_main3{height: 680px;}
    section .hr_section2 .hr_main1{height: 580px;}
    section .hr_section2 .hr_main2{height: 680px;}
    section .hr_section2 .hr_main2 .hr_part2 h3{margin-bottom: 70px;}
    section .hr_section2 .hr_main2 .hr_part2 .part2_gp .arrow{margin: 0 20px;}
    /* section .hr_section2 .hr_main2 .hr_part2 .part2_gp .gp img{min-width: 150px;margin: 0 auto;} */
    section .hr_section2 .hr_main3{height: 890px;}
    section .hr_section2 .hr_main3 .hr_part3 h3{line-height: 35px;margin-bottom: 60px;}
    /* section .hr_section2 .hr_main3 .hr_part3 .gp img{min-width: 130%;} */
    section .hr_section2 .hr_main3 .hr_part3 .gp1 .gp_box li{font-size: 1.1rem;}
    section .hr_section2 .hr_main4{height: 400px;}
    section .hr_section2 .hr_main4 .hr_part4 .process{margin:0 5px;}
    section .bdesign_section2 .bdesign_main1{height: 1080px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3{font-size: 1.6rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3 span{font-size: 1.6rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h4 span.bd_br{display: block;margin-top: 10px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro{height: 90px;padding: 32px 0;}
    section .bdesign_section2 .bdesign_main2{height: 730px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 h3{line-height: 35px;font-size: 1.6rem;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .br_span{display: inline;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2 img{width: 15px;}
    section .bdesign_section2 .bdesign_main3{height: 770px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3{font-size: 1.6rem;margin-bottom: 50px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3 span{font-size: 1.6rem;}
    section .bdesign_section2 .bdesign_main4{height: 560px;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box1{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box2 ul li{font-size: 1.1rem;}
    section .etc_section2 .etc_main1{height: 730px;}
    section .etc_section2 .etc_main2{height: 940px;}
    section .etc_section2 .etc_main3{height: 540px;}
    section .etc_section2 .etc_main3 .etc_part3 .intro_box{width: 40%;}
    section .etc_section2 .etc_main4{height: 790px;}
    section .etc_section2 .etc_main5{height: 550px;}
    section .etc_section2 .etc_main5 .etc_part5 .etc_consul{width: 49%;margin-right: 5px;margin-bottom: 10px;font-size: 1.3rem;}
    section .contact_section2 .consul_contact{height: 480px;}
    section .contact_section2 .consul_contact h3{font-size: 1.3rem;}
    section .contact_section2 .consul_contact h3 span.ct_br{font-size: 1.3rem;}
    section .contact_section2 .consul_contact p span.ct_br{font-size: 1.4rem;}
    section .contact_section2 .consul_contact p{font-size: 1.4rem;}
    section .contact_section2 .consul_contact p span{font-size: 1.4rem;}
    section .contact_section2 .consul_contact ul li{width: 24%;}
    section .contact_section2 .consul_contact ul li h3{font-size: 1.2rem;}
    section .contact_section2 .consul_contact li h3 span.ct_span{font-size: 1.2rem;}
}

@media (max-width: 768px) {
    div.main_section div#nav-icon3{width: 9%;}
    div.main_section .center_box p.mission2{font-size: 2.4rem;}
    div.main_section .center_box p.mission3,div.main_section .center_box p.mission4{font-size: 5rem;}
    footer{height: 220px;}
    section .about_section1 .mission_box p.mission3,section .about_section1 .mission_box p.mission4{font-size: 1.1rem;}
    section .about_section2 .about_main1{height: 630px;}
    section .about_section2 .about_main1 h3{font-size: 1.4rem; line-height: 25px;margin-bottom: 60px;}
    section .about_section2 .about_main1 h3 span.ab_br{font-size: 1.4rem;}
    section .about_section2 .about_main1 h3 span{font-size: 1.4rem;}
    section .about_section2 .about_main1 .main1_circle ul{width: 33%;height: 70px;}
    section .about_section2 .about_main2{height: 690px;}
    section .about_section2 .about_main3{height: 620px;}
    section .about_section2 .about_main4{height: 830px;}
    section .section2 h3 span.br_span{display: inline;}
    section .hr_section2 .hr_main1 .hr_part1 h3{font-size: 1.1rem;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .arrow{margin: 0 15px;}
    section .hr_section2 .hr_main2{height: 660px;}
    section .hr_section2 .hr_main2 .hr_part2 h3 span.br_span{display: block;}
    section .hr_section2 .hr_main2 .hr_part2 h3{font-size: 1.4rem;}
    section .hr_section2 .hr_main2 .hr_part2 h3 span{font-size: 1.4rem;}
    section .hr_section2 .hr_main3{height: 850px;}
    section .hr_section2 .hr_main3 .hr_part3 h3{font-size: 1.4rem;}
    section .hr_section2 .hr_main3 .hr_part3 h3 span{font-size: 1.4rem;}
    section .hr_section2 .hr_main4{height: 740px;}
    section .hr_section2 .hr_main4 .hr_part4 .process{width: 100%;height: 80px;border-radius: 0;margin-bottom: 10px;margin-left: 0;margin-right: 0;}
    section .hr_section2 .hr_main4 .hr_part4 .process p{line-height: 10px;}
    section .hr_section2 .hr_main4 .hr_part4 .process .num{margin-bottom: -10px;}
    section .hr_section2 .hr_main4 .hr_part4 .process h4{margin-top: 20px;}
    section .hr_section2 .hr_main5{height: 1870px;}
    section .hr_section2 .hr_main5 .hr_part5 .graph_part ul li{font-size: 1.2rem;}
    section .hr_section2 .hr_main5 .hr_part5 .graph_part .part{width: 100%;height: 210px;margin-bottom: 20px;margin-right: 0;}
    section .hr_section2 .hr_main5 .hr_part5 .graph_part .part .num{font-size: 1.6rem;}
    section .bdesign_section2 .bdesign_main1{height: 1050px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3 span{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 p{margin-bottom: 40px;font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h4{margin-bottom: 30px;font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h4 span{font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main2{height: 710px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 h3{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 span{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main3{height: 710px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3 span{font-size: 1.4rem;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 .br_span{display: block;}
    section .bdesign_section2 .bdesign_main4{height: 710px;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box{width: 100%;height: 200px;margin-bottom: 15px;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box2 ul li{height: 40px;line-height: 40px;}
    section .etc_section2 .etc_main1{height: 720px;}
    section .etc_section2 .etc_main1 .etc_part1 p{margin-bottom: 57px;}
    section .etc_section2 .etc_main1 .etc_part1 h3{font-size: 1.6rem;}
    section .etc_section2 .etc_main1 .etc_part1 h3 span{font-size: 1.6rem;}
    section .etc_section2 .etc_main2{height: 1024px;}
    section .etc_section2 .etc_main2 .etc_part2 h3{font-size: 1.6rem;}
    section .etc_section2 .etc_main2 .etc_part2 h3 span{font-size: 1.6rem;}
    section .etc_section2 .etc_main2 .etc_part2 img{width: 100%;}
    section .etc_section2 .etc_main4{height: 1110px;}
    section .etc_section2 .etc_main4 .etc_part4{height: 160px;}
    section .etc_section2 .etc_main4 .etc_part4 h3{font-size: 1.6rem;}
    section .etc_section2 .etc_main4 .etc_part4 h3 span{font-size: 1.6rem;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box{width: 48%;margin-right: 5px;margin-bottom: 10px;}
    section .etc_section2 .etc_main4 .etc_part41 .intro_box.second_box{margin-right: 0;}
    section .contact_section2 .consul_contact{height: 670px;}
    section .contact_section2 .consul_contact p{margin-bottom: 50px;}
    section .contact_section2 .consul_contact ul li{width: 100%;height: 60px;margin-bottom: 10px;margin-right: 0;}
    section .contact_section2 .consul_contact ul li h2{float:left;width:30%;height: 100%;text-align: center;line-height: 55px;font-size: 1.3rem;padding-left: 0;padding-top: 0;margin-bottom: 0;}
    section .contact_section2 .consul_contact ul li h3{float:right;width: 70%;font-size: 1.3rem;height: 100%;text-align: center;line-height: 55px;margin-bottom: 0;}
    section .contact_section2 .consul_contact li h3 span.ct_span{display: inline;font-size: 1.3rem;}
}

@media (max-width: 687px) {
    section .hr .pad{padding: 0 99px;}
    section .hr_section2 .hr_main2 .hr_part2 .part2_gp .arrow{width: 25px;}
    section .bdesign .pad{padding: 0 30px;}
    section .etc_section2 .etc_main5 .etc_part5 .etc_consul{width: 48.5%;margin-right: 5px;margin-bottom: 10px;font-size: 1.3rem;}
}

@media (max-width: 605px) {
    section .about_section2 .about_main1 .main1_circle ul.circle4 .detail{font-size: 0.95rem;}
    section .hr_section2 .hr_main1 .hr_part1 h3{margin-bottom: 60px;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .gp{font-size: 1.1rem;height: 70px;line-height: 70px;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .arrow{margin: 0 10px;}
    section .hr_section2 .hr_main2{height: 620px;}
    section .hr_section2 .hr_main2 .hr_part2 h3{margin-bottom: 70px;margin-bottom: 50px;}
    section .hr_section2 .hr_main2 .hr_part2 .part2_gp .arrow{width: 15px; margin: 0 15px;}
    section .etc_section2 .etc_main3{height: 810px;}
    section .etc_section2 .etc_main3 .etc_part3 .intro_box{width: 100%;height: 260px;display: block;margin-bottom: 10px;}
    section .etc_section2 .etc_main4{height: 1130px;}
    section .etc_section2 .etc_main4 .etc_part4 h3{margin-bottom: 60px;}
}

@media (max-width: 507px) {
    section .hr .pad{padding: 0 10px;}
    section .about_section2 .about_main1 h2{margin-bottom: 60px;}
    section .about_section2 .about_main1 h3 span.ab_br{display: block;margin-bottom: 0;}
}

@media (max-width: 480px) {
    section .intro{padding-top: 80px;}
    section .section1 h3{display: none;}
    div.main_section div#nav-icon3{width: 16%;}
    section .about_section1{height: 500px;}
    section .section2 .line{width: 35px;}
    section .about_section1 .mission_box{text-align: left;}
    section .about_section1 .mission_box p.mission{font-size: 3.2rem;padding-top: 200px;margin-bottom: 20px;}
    section .about_section1 .mission_box p.mission2{font-size: 1.2rem;margin-bottom: 100px;}
    section .about_section1 .mission_box p.mission4 span{display: inline;}
    section .about_section1 .mission_box p.mission3{margin-bottom: 0;}
    section .about_section1 .mission_box p.mission3,section .about_section1 .mission_box p.mission4{font-size: 1rem;line-height: 25px;}
    section .section2 h2{margin-bottom: 60px;}
    section .about_section2 .about_main1{height: 740px;}
    section .about_section2 .about_main1 h3{margin-bottom: 40px;}
    section .about_section2 .about_main1 .main1_circle ul{width: 100%;display:block;margin-bottom: 10px;}
    section .about_section2 .about_main1 .main1_circle ul li.num{width: 15%;text-align: right;}
    section .about_section2 .about_main1 .main1_circle ul li.detail{width: 85%;text-align:center;font-size: 1.25rem;}
    section .about_section2 .about_main1 .main1_circle ul.circle4 .detail{font-size: 1.25rem;}
    section .about_section2 .about_main2{height: 500px;}
    section .about_section2 .about_main3{height: 450px;}
    section .about_section2 .about_main4{height: 750px;}
    section .about_section2 .about_main4 .map{height: 300px;}
    section .hr_section2 .hr_main1{height: 520px;}
    section .hr_section2 .hr_main1 .hr_part1 h3{font-size: 1rem;line-height: 25px;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .arrow{width: 20px;}
    section .hr_section2 .hr_main2{height: 480px;}
    section .hr_section2 .hr_main2 .hr_part2 h3{font-size: 1.2rem;line-height: 25px;}
    section .hr_section2 .hr_main2 .hr_part2 h3 span{font-size: 1.2rem;}
    section .hr_section2 .hr_main3{height: 1080px;}
    section .hr_section2 .hr_main3 .hr_part3 h3{font-size: 1.2rem; line-height: 25px;margin-bottom: 50px;}
    section .hr_section2 .hr_main3 .hr_part3 h3 span{font-size: 1.2rem;}
    section .hr_section2 .hr_main3 .hr_part3 .gp1{margin-top: 50px;}
    section .hr_section2 .hr_main3 .hr_part3 .gp1 .gp_box{width: 100%;height:180px;}
    section .hr_section2 .hr_main3 .hr_part3 .gp1 .gp_box li{margin: 15px 0;}
    section .hr_section2 .hr_main3 .hr_part3 .gp1 .gp_box.sec{margin: 15px 0;}
    section .hr_section2 .hr_main4{height: 640px;}
    section .hr_section2 .hr_main4 .hr_part4 .process{height: 70px;}
    section .hr_section2 .hr_main4 .hr_part4 .process h4{margin-top: 15px;}
    section .bdesign_section2 .bdesign_main1{height: 1100px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 p{font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3{font-size: 1.2rem;line-height: 25px;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h3 span{font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h4{font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 h4 span{font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main1 .bdesign_part1 .bprocess .pro .pro_detail{font-size: 1.1rem;}
    section .bdesign_section2 .bdesign_main2{height: 600px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 h3{font-size: 1.2rem;line-height: 25px;margin-bottom: 40px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 span{font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain1{width: 100%;height: 40px;line-height: 40px;font-size: 0.95rem;margin-left: 0;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2{width: 100%;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2 .step{width: 18%;margin: 15px 0;font-size: 0.95rem;height: 40px;line-height: 40px;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_explain2 img{display: none;}
    section .bdesign_section2 .bdesign_main2 .bdesign_part2 .tool_box img{margin-top: 30px;}
    section .bdesign_section2 .bdesign_main3{height: 540px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3{font-size: 1.2rem;line-height: 25px;}
    section .bdesign_section2 .bdesign_main3 .bdesign_part3 h3 span{font-size: 1.2rem;}
    section .bdesign_section2 .bdesign_main4{height: 660px;}
    section .bdesign_section2 .bdesign_main4 .bdesign_part4 .intro_box.first{margin-right: 0;}
    section .etc_section2 .etc_main1 .etc_part1 p{font-size: 1.1rem;}
    section .etc_section2 .etc_main1 .etc_part1 h3{font-size: 1.4rem;}
    section .etc_section2 .etc_main1 .etc_part1 h3 span{font-size: 1.4rem;}
    section .etc_section2 .etc_main2{height: 950px;}
    section .etc_section2 .etc_main2 .etc_part2 p{font-size: 1.1rem;}
    section .etc_section2 .etc_main2 .etc_part2 h3{font-size: 1.4rem;}
    section .etc_section2 .etc_main2 .etc_part2 h3 span{font-size: 1.4rem;}
    section .etc_section2 .etc_main2 .etc_part2 p{margin-bottom: 20px;}
    section .etc_section2 .etc_main4{height: 1160px;}
    section .etc_section2 .etc_main4 .etc_part4 p{font-size: 1.1rem;}
    section .etc_section2 .etc_main4 .etc_part4 h3{font-size: 1.4rem;}
    section .etc_section2 .etc_main4 .etc_part4 h3 span{font-size: 1.4rem;}
    section .etc_section2 .etc_main5{height: 690px;}
    section .etc_section2 .etc_main5 .etc_part5 .etc_consul{width: 100%;height: 70px;line-height: 70px;margin-right: 0;margin-bottom: 10px;font-size: 1.3rem;}
    section .contact_section2 .consul_contact h3{font-size: 1.2rem;}
    section .contact_section2 .consul_contact h3 span.ct_br{font-size: 1.2rem;}
    section .contact_section2 .consul_contact p span.ct_br{font-size: 1.3rem;}
    section .contact_section2 .consul_contact p{font-size: 1.3rem;} 
    section .contact_section2 .consul_contact p span{font-size: 1.3rem;}
    section .contact_section2 .consul_contact ul li h2{font-size: 1.2rem;}
    section .contact_section2 .consul_contact ul li h3{font-size: 1.2rem;}
    section .contact_section2 .consul_contact li h3 span.ct_span{font-size: 1.2rem;}
}

@media (max-width: 414px) {
    section .about_section1 .mission_box p.mission{font-size: 3.2rem;padding-top: 200px;margin-bottom: 20px;}
    section .about_section1 .mission_box p.mission2{font-size: 1.2rem;margin-bottom: 100px;}
    section .about_section1 .mission_box p.mission3,section .about_section1 .mission_box p.mission4{font-size: 0.95rem;}
    section .about_section2 .about_main2{height: 470px;}
    section .about_section2 .about_main3{height: 400px;}
    section .about_section2 .about_main4 .adress1 p{font-size: 1.1rem;}
    section .section1 h3{font-size: 1.1rem;}
    section .hr_section2 .hr_main1{height: 770px;}
    section .hr_section2 .hr_main1 .hr_part1 h3{margin-bottom: 40px;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .gp{width: 100%;height: 50px;line-height: 50px;display: block;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .arrow{margin: 10px 0;}
    section .hr_section2 .hr_main1 .hr_part1 .part1_gp .arrow img{src: url(../img/arrow1.jpg);}
    section .hr_section2 .hr_main2{height: 480px;}
    section .hr_section2 .hr_main2 .hr_part2 h3 span.br_span{display: inline;}
    section .hr_section2 .hr_main3{height: 1050px;}
    section .hr_section2 .hr_main3 .hr_part3 .gp1{margin-top: 30px;}
    section .bdesign_section2 .bdesign_main1{height: 1160px;}
    section .bdesign_section2 .bdesign_main2{height: 580px;}
    section .bdesign_section2 .bdesign_main3{height: 490px;}
    section .etc_section2 .etc_main1{height: 760px;}
    section .etc_section2 .etc_main1 .etc_part1 p{margin-bottom: 40px;}
    section .etc_section2 .etc_main2{height: 970px;}
    section .etc_section2 .etc_main5{height: 670px;}
    section .contact_section2 .consul_contact{margin-top: -20px;height: 700px;}
    section .contact_section2 .consul_contact p span.ct_br{display: block;line-height: 25px;margin-bottom: 0;}
}

@media (max-width: 375px) {
    div.main_section .center_box p.mission1{font-size: 1.08rem;}
    div.main_section .center_box p.mission2{margin-bottom: 38px;font-size: 1.7rem;}
    div.main_section .center_box p.mission3,div.main_section .center_box p.mission4{font-size: 4.8rem;}
    section .about_section1 .mission_box p.mission{font-size: 3rem;padding-top: 200px;margin-bottom: 20px;}
    section .about_section1 .mission_box p.mission2{font-size: 1.1rem;margin-bottom: 90px;}
    section .about_section2 .about_main2{height: 440px;}
    section .about_section2 .about_main3{height: 390px;}
    section .section1 h3{font-size: 1.1rem;}
    section .hr_section2 .hr_main1{height: 790px;}
    section .hr_section2 .hr_main2{height: 480px;}
    section .hr_section2 .hr_main3{height: 1070px;}
    section .hr_section2 .hr_main4{height: 630px;}
    section .bdesign_section2 .bdesign_main1{height: 1190px;}
    section .bdesign_section2 .bdesign_main3{height: 500px;}
    section .etc_section2 .etc_main4{height: 1190px;}
    section .contact_section2 .consul_contact h3 span.ct_br{display: block;line-height: 30px;}
}

@media (max-width: 360px) {

}