section .bg{
    width:100%; 
    height: 300px; 
}
section .service_section1{
    width: 100%;
    height: 300px;
    background-image: url(../img/service_pic.jpg);
    background-size: cover;
    background-position-y: 45%;
    background-repeat: no-repeat;
    position: relative;
    top:70px;
    margin-bottom: 70px;
}
section .service_section1 h2{
    height: 225px;
    color: white;
    font-size: 2rem;
    position: relative; 
    line-height: 300px;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
}
section .service_section1 h3{
    display: inline;
    margin-right: 15px;
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    position: relative; 
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
    cursor: pointer;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
section .service_section1 h3:hover{
    color: #BB5555;
}
section .service_section1 h3.this_pg{
    display: inline;
    margin-right: 15px;
    position: relative; 
    color: #BB5555;
    font-size: 1.1rem;
    animation: misani1 3.7s;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: 0.1s ease-in;
}
section .service_section2{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    animation: misani1 3.7s;
}
section .service_section2 .service_main1{
    width: 100%;
    height: 1050px;
}
section .service_section2 .service_main1 .intro{
    width: 100%;
    height: 250px;
    padding-top: 100px;
    margin: 0 auto;
    color: #333;
    position: relative;
    z-index: 1;
}
section .service_section2 .service_main1 .service_bg1{
    position: absolute;
    top: 550px;
    right: 50%;
    margin-right: 270px;
    width: 20%;
    height: 35%;
    border-radius: 100%;
    background: #f6f6f6;
}
section .service_section2 .line{
    width: 45px;
    height: 4px;
    background-color: #BB5555;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
}
section .service_section2 .service_main1 .intro h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 40px;
    color: #444;
}
section .service_section2 .service_main1 .intro h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: #BB5555;
    margin-bottom: 25px;
}
section .service_section2 .service_main1 .intro p{
    word-break: keep-all;
    line-height: 30px;
    margin-bottom: 90px;
    font-size: 0.95rem;
}
section .service_section2 .service_main1 img{
    width: 60%;
    margin-left: 250px;
}
section .service_section2 .service_main2{
    width: 100%;
    height: 450px;
}
section .service_section2 .service_main2 .intro2{
    margin-top: 100px;
}
section .service_section2 .service_main2 .intro2 h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 70px;
    color: #444;
}
section .service_section2 .service_main2 .intro2 .intro_box{
    width: 30%;
    height: 260px;
    border-radius: 4px;
    display: inline-block;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
    box-shadow: 0px 2px 5px 0px rgba(212,212,212,1);
}
section .service_section2 .service_main2 .intro2 .intro_box.first{
    margin-right: 40px;
    margin-left: 220px;
}
section .service_section2 .service_main2 .intro2 .intro_box1{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #EBDED9;
    color: #333;
}
section .service_section2 .service_main2 .intro2 .intro_box.first .intro_box1{
    background-color: #334863;
    color: #f0f0f0;
}
section .service_section2 .service_main2 .intro2 .intro_box2 ul{
    width: 100%;
}
section .service_section2 .service_main2 .intro2 .intro_box2 ul li{
    list-style: none;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #333;
}
section .service_section2 .service_main2 .intro2 .intro_box2 ul li:nth-child(1){
    margin-top: 10px;
}