*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.8px;
}
html, body{
    height: 100%;
}
.wrap{
    max-width: 1600px;
    margin: 0 auto;
}
.main_section{
    width: 100%;
    height: 100vh;
    background-image: url(../img/main1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_section .bg{ 
    background-color:rgba(0, 0, 0, 0.3);
    width:100%; 
    height: 100vh; 
    position: absolute;
}
.main_section .nav_bar{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    position: relative; 
    z-index:1000;
}
.main_section .nav_bar h1{
    width: 59%;
    height: 100%;
    float: left;
    vertical-align: middle;
}
.main_section .nav_bar h1 img{
    width: 20%;
}
.main_section .nav_bar ul{
    float: right;
    width: 41%;
    list-style: none;
}
.main_section .nav_bar ul li{
   display: inline-block;
   margin-left: 40px;
   line-height: 80px;
   cursor: pointer;
   font-size: 1.03rem;
}
.main_section .nav_bar ul li a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    transition: .3s ease;
 }
.main_section .nav_bar ul li a:hover{
    color: #253b59;
    font-weight: 700;
}
.main_section .center_box{
    height: 530px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    padding: 65px;
}
.main_section .center_box p{
    text-align: center;
    color: rgba(255,255,255,0.8);
    font-family: 'Raleway', sans-serif;
    text-shadow: 6px 6px 13px rgba(0,0,0,0.5);
    animation: misani1 3.7s;
    /* font-family: 'Baskervville', serif; */
}
.main_section .center_box p.mission1{
    margin-bottom: 46px;
    font-size: 1.35rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.main_section .center_box p.mission2{
    margin-bottom: 50px;
    font-size: 2.63rem;
    letter-spacing: 2px;
    font-weight: 700;
}
.main_section .center_box p.mission3{
    font-size: 6rem;
    letter-spacing: 6px;
    font-weight: 800;
}
.main_section .center_box p.mission4{
    margin-bottom: 120px;
    font-size: 6rem;
    letter-spacing: 6px;
    font-weight: 800;
    line-height: 100px;
}
@keyframes misani1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main_section .center_box .start_btn{
    width: 120px;
    height: 45px;
    background-color: #BB5555;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    margin: 0 auto;
    transition: .3s ease;
}
.main_section .center_box .start_btn:hover{
    width: 180px;
}
.main_section .center_box .start_btn a{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    transition: .2s ease;
}